FlexSource/ruleSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="objects">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="object">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="source">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="url">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="headers">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="header">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="key"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="fields">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="xpath"/>
                                                                            <xs:element name="arrayobject" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element type="xs:string" name="xpath"/>
                                                                                                </xs:sequence>
                                                                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                                                <xs:attribute type="xs:string" name="type" use="optional"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="xs:string" name="type"/>
                                                                                    <xs:attribute type="xs:string" name="name"/>
                                                                                    <xs:attribute type="xs:string" name="priority"/>
                                                                                    <xs:attribute type="xs:string" name="loading"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="step"/>
                                                <xs:attribute type="xs:string" name="uri"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:byte" name="priority"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="type"/>
                        <xs:attribute type="xs:string" name="name"/>
                        <xs:attribute type="xs:string" name="priority"/>
                        <xs:attribute type="xs:string" name="loading"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:float" name="parserVersion"/>
            <xs:attribute type="xs:float" name="fileVersion"/>
        </xs:complexType>
    </xs:element>
</xs:schema>